{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ page_title }} de {{ app.user.username }}</h2>
        </div>
    <div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>· · · · · · · · · · · · · · · · · ·</th>
                        <td><b>DATOS PERSONALES</b></td>
                        <td><a href="{{ path('developer_edit', {'id': developer.id}) }}">editar datos personales</a></td>
                    </tr>
                    <tr>
                        <th>Currículum</th>
                        <td>https://cveloper.com{{ path('developer_cv', {'id': developer.id}) }}</td>
                        <td><a target="_blank" href="{{ path('developer_cv', {'id': developer.id}) }}">ver currículum</a></td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ developer.firstName }} {{ developer.lastName }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ developer.address }} {{ developer.postalCode }} {{ developer.city }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Contacto</th>
                        <td>
                            <a href="tel:+34{{ developer.phone }}"><i class="fas fa-phone"></i></a>
                            <a href="mailto:{{ developer.email }}"><i class="fas fa-at"></i></a>
                            <a href="{{ developer.web }}"><i class="fab fa-internet-explorer"></i></a>
                            <a href="{{ developer.github }}"><i class="fab fa-github"></i></a>
                            <a href="{{ developer.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Avatar</th>
                        <td><img class="dev_avatar" src="/uploads/images/developer/avatar/{{ developer.avatar }}" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>· · · · · · · · · · · · · · · · · ·</th>
                        <td><b>EXPERIENCIA</b></td>
                        <td><a href="{{ path('experience_index', {'id': developer.id}) }}">editar experiencia</a></td>
                    </tr>
                    {% for experience in developer.experiences %}
                    <tr>
                        <th>{{ experience.city }}</th>
                        <td>{{ experience.position }} en {{ experience.company }}</td>
                        <td><a href="{{ path('experience_edit', {'id': experience.id}) }}">editar</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>· · · · · · · · · · · · · · · · · ·</th>
                        <td><b>FORMACIÓN</b></td>
                        <td><a href="{{ path('training_index', {'id': developer.id}) }}">editar formación</a></td>
                    </tr>
                    {% for training in developer.trainings %}
                    <tr>
                        <th>{{ training.city }}</th>
                        <td>{{ training.degree }} en {{ training.institution }}</td>
                        <td><a href="{{ path('training_edit', {'id': training.id}) }}">editar</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>· · · · · · · · · · · · · · · · · ·</th>
                        <td><b>INFORMACIÓN ADICIONAL</b></td>
                        <td><a href="{{ path('additional_index', {'id': developer.id}) }}">editar adicionales</a></td>
                    </tr>
                    {% for additional in developer.additionals %}
                    <tr>
                        <th></th>
                        <td>{{ additional.description }}</td>
                        <td><a href="{{ path('additional_edit', {'id': additional.id}) }}">editar</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>· · · · · · · · · · · · · · · · · ·</th>
                        <td><b>DESTREZA EN TECNOLOGÍAS</b></td>
                        <td><a href="{{ path('dev_tech_index', {'id': developer.id}) }}">editar destrezas</a></td>
                    </tr>
                    {% for devTech in developer.devTeches %}
                    <tr>
                        <th><img class="dev_tech_logo" src="/uploads/images/technology/logo/{{ devTech.idTech.logo }}"></th>
                        <td>Nivel {{ devTech.level }} en {{ devTech.idTech.name }}</td>
                        <td><a href="{{ path('dev_tech_edit', {'id': devTech.id}) }}">editar</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <th><a href="https://cveloper.com/issue/">SOLICITAR UNA TECNOLOGÍA</a></th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    {#
    <a href="{{ path('developer_index') }}">back to list</a>
    <a href="{{ path('developer_edit', {'id': developer.id}) }}">edit</a>
    {{ include('developer/_delete_form.html.twig') }}
    #}
{% endblock %}
