{% extends 'base.html.twig' %}

{% block title %}Listado Nivel Tecnologías{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Listado Nivel de Tecnologías</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nivel</th>
                <th>ID Tecnologías</th>
                <th>ID Desarrollador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for dev_tech in dev_teches %}
            <tr>
                <td>{{ dev_tech.id }}</td>
                <td>{{ dev_tech.level }}</td>
                <td>{{ dev_tech.idTech }}</td>
                <td>{{ dev_tech.idDeveloper }}</td>
                <td>
                    <a href="{{ path('dev_tech_show', {'id': dev_tech.id}) }}">Mostrar</a>
                    <a href="{{ path('dev_tech_edit', {'id': dev_tech.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron Datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dev_tech_new') }}">Añadir Nuevo Nivel</a>
{% endblock %}
