{% extends 'base.html.twig' %}

{% block title %}Listado Formaci칩n{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Listado Formaci칩n</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Grado</th>
                <th>Centro</th>
                <th>Ciudad</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.degree }}</td>
                <td>{{ training.institution }}</td>
                <td>{{ training.city }}</td>
                <td>{{ training.dateFrom ? training.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training.dateTo ? training.dateTo|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}">Mostrar</a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se encontraron Datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('training_new') }}">A침adir Nueva Formaci칩n</a>
{% endblock %}
