{% extends 'base.html.twig' %}

{% block title %}Formación{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Formación</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training.id }}</td>
            </tr>
            <tr>
                <th>Grado</th>
                <td>{{ training.degree }}</td>
            </tr>
            <tr>
                <th>Centro</th>
                <td>{{ training.institution }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ training.city }}</td>
            </tr>
            <tr>
                <th>Desde</th>
                <td>{{ training.dateFrom ? training.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ training.dateTo ? training.dateTo|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('training_index') }}">Volver al Listado</a>

    <a href="{{ path('training_edit', {'id': training.id}) }}">Editar</a>

    {{ include('training/_delete_form.html.twig') }}
{% endblock %}
