{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
		<h2>Introduce tus credenciales</h2>
	</div>
    {#
    <!--
    TODO OAUTH CON GITHUB FALLIDO
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>
            <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'github' }) }}">
                <span>Login con GitHub</span>
            </a>
        </h2>
	</div>
    -->
    #}

<form method="post">

    <!--
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    -->

    <div class="row">
		<div class="col-12">
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Introduce tu username" required autofocus>
		</div>
		<div class="col-12">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Introduce tu password" required>
        </div>
        <div class="col-6">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        </div>
		<div class="col-6 izquierda">
            <button class="signup" type="submit">
                Acceder
            </button>
		</div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	</div>

</form>

</div>

{% endblock %}
