{% extends 'base.html.twig' %}

{% block title %}Listado de Datos Adcionales{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Listado de Datos Adicionales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for additional in additionals %}
            <tr>
                <td>{{ additional.id }}</td>
                <td>{{ additional.description }}</td>
                <td>
                    <a href="{{ path('additional_show', {'id': additional.id}) }}">Mostrar</a>
                    <a href="{{ path('additional_edit', {'id': additional.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('additional_new') }}">Añadir Nuevo Dato Adicional</a>
{% endblock %}
