{% extends 'base.html.twig' %}

{% block title %}Dato Adicional{% endblock %}

{% block stylesheets %}
    {% include 'home/styles.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Dato Adicional</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ additional.id }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ additional.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('additional_index') }}">Volver al Listado</a>

    <a href="{{ path('additional_edit', {'id': additional.id}) }}">Editar</a>

    {{ include('additional/_delete_form.html.twig') }}
{% endblock %}
